.navbar {
	/*background-color: #EBF6FF;*/
	background-color: #90cef1;
	font-color: black;
}

.footer {
	text-align: center;
	background-color: #fff;
}

.top-color {
	background-color: #FFFFFF;
}

.top-menu {
	font-size: 18px;
	font-weight: bold;
	color: #333;
}

.sidebar-nav {
	min-height: 0;
	box-shadow: 0 0 1px #BDBDBD;
	border-radius: 0px;
	margin-bottom: 0;
	padding-bottom: 0;
	max-height: none;
}
/*一级菜单*/
.menu-first {
	text-align: left;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #e1e1e1;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
}
/*一级菜单鼠标划过状态*/
.menu-first:hover {
	text-decoration: none;
	background-color: #157ab5;
	border-top: 1px solid #b7b7b7;
	border-bottom: 1px solid #acacac;
	font-size: 16px;
}

.menu-first:active {
	text-decoration: none;
	border-top: 1px solid #b7b7b7;
	border-bottom: 1px solid #acacac;
	font-size: 16px;
}
/*二级菜单*/
.menu-second li {
	text-align: left;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	font-size: 13px;
	padding-left: 4px;
}
/*二级菜单鼠标划过样式*/
.menu-second li:hover {
	text-decoration: none;
	background-color: #66c3ec;
	border-top: 1px solid #83ceed;
	border-bottom: 1px solid #83ceed;
	border-right: 3px solid #66c3ec border-left: 3px solid #66c3ec;
}
.mainul{
	margin-left: 1px;
}
.nav-stacked>li {
	float: none;
}

.nav-stacked>li>a {
	border: 1px dashed #D5D5D5;
	border-radius: 4px;
}

.nav-stacked>li+li {
	margin-top: 2px;
	margin-left: 0;
	margin-right: 0;
}

.nav>li>a:focus {
	text-decoration: none;
	background-color: #157ab5;
	/**background-color:green;*/
}
.mainnav-focus{
	color:#fff;
	text-decoration: none;
	background: #157ab5;
}
.mainnav-focus>a{
	color:#fff;
}