#set($tab_bar="list")
#parse("shared/header.vm")
#parse("shared/top_menu.vm")
#parse("configure/producer_tab_bar.vm")
#parse("pageCount.vm")
<div class="row-fluid">
  <form class="form form-horizontal" method="POST" action="/configure/producer">
    <producerset>
      <legend>生产者列表</legend>
      <table id="producer_table" class="table table-bordered">
        <thead>
          <tr>
            <td></td>
            <td>ID</td>
            <td>名字</td>
            <td>队列</td>
            <td>中间件</td>
            <td>模拟</td>
            <td>创建时间</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
        #foreach($producer in $page.getList())
        <tr>
            <td><input  name="selected_ids[]" value="$!producer.id" type="checkbox" /><input name="ids[]" value="$!producer.id" type="hidden" /></td>
            <td>$!producer.id</td>
            <td><input class="input-large"  name="$!producer.id:name" value="$!producer.name" type="text" /></td>
            <td>
                <select class="input-small" name="$!producer.id:queueId">
                    #foreach($queue in $queues)
                    <option #if ($queue.getId() == $!producer.queueId) selected="selected" #end value="$queue.getId()">$queue.getName()</option>
                    #end
                </select>
            </td>
            <td>
                <select class="input-small" name="$!producer.id:momType">
                    #foreach($momType in $momTypes)
                    <option #if ($momType.getV() == $!producer.momType) selected="selected" #end value="$momType.getV()">
                    #if($momType.getName()!="KAFKA2")
                    $momType.getName()
                    #end
                    </option>
                    #end
                </select>
            </td>
            <td>
                <a style="color:blue" onclick="show ('$!producer.name', '#foreach($queue in $queues)#if ($queue.getId() == $!producer.queueId)$queue.getName()#end#end')">生产</a>
            </td> 
            <td>$DateUtil.formatForDate($!producer.createTime)</td>
            <td>
				<button class="btn btn-primary" name="action" value="singlesave">保存</button>
			</td>
			<td>
				<button class="btn btn-danger" name="action" value="singledelete">删除</button>
			</td>
        </tr>
        #end
          <tr>
            <td colspan="7">
              <button id="btn-new-producer" class="btn btn-success"><i class="icon-plus"></i> 添加页面</button>
            </td>
          </tr> 
        </tbody>
      </table>
      <p>
        <button id="btn-save-producer" class="btn btn-primary" name="action" value="save"><i class="icon-ok"></i> 保存选中的字段</button>&nbsp;
        <button id="btn-delete-selected-producer" class="btn btn-danger" name="action" value="delete"><i class="icon-remove"></i> 删除选中的字段</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      	<button class="btn btn-warning" name="action" value="push">推送到配置中心</button>
      </p>
       	  <p>
			#page($page)
		  </p>
    </producerset>
  </form>
    <div class="row">
        <div id="console" class="modal hide fade in" style="display: block;">
            <div class="modal-header">
                <button id="close_console" type="button" class="close">×</button>
                <h3 id="header_console"></h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <input id="name_console" type="hidden" value=""></input>
                    <input id="destinationName_console" type="hidden" value=""></input>
                </div>
                <div class="row-fluid">
                    <textarea id="content_console"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="save_console" class="btn btn-primary">发送</button>
            </div>
        </div>
    </div>
</div>
<script language="javascript">
    $(document).ready(function() {
        $('#btn-new-producer').click(function(e){
            e.preventDefault();
            $('#producer_table tr:last').before('<tr><td></td><td></td><td><input class="input-mini" name="new:name[]" type="text" /></td><td><select name="new:queueId[]">#foreach($queue in $queues)<option value="$queue.getId()">$queue.getName()</option>#end</select></td><td><select name="new:momType[]">#foreach($momType in $momTypes)<option value="$momType.getV()">$momType.getName()</option>#end</select></td><td></td><td></td></tr>');
        });
    });
    $(document).ready(function(){
        $("#console").hide();
        $("#close_console").click(function(){
            $("#console").hide();
        });
        $("#save_console").click(function(){
                var name = $("#name_console").val();
                var destinationName = $("#destinationName_console").val();
                var content = $("#content_console").val();
                $.ajax({
                    url: '/configure/producer/simulator?name=' + name + '&destinationName=' + destinationName + '&content=' + content,
                    dataType: "text",
                    success: function (code) {
                        if (code == '1') {
                            alert("保存成功");
                        } else if (code == '2') {
                            alert("保存失败");
                        }
                    },
                    error: function (arg) {
                        var e = arg;
                    }
                });
        });
    });
    function show (name, destinationName) {
        $(document).ready(function(){
            $("#console").show();
            $("#name_console").val(name);
            $("#destinationName_console").val(destinationName);
        });
    }
</script>
#parse("shared/footer.vm")
