#set($tab_bar="list")
#parse("shared/header.vm")
#parse("shared/top_menu.vm")
#parse("system/redis_tab_bar.vm")
<div class="row-fluid">
  <form class="form form-horizontal" method="POST" action="/system/redis">
    <redisset>
      <legend>redis集群</legend>
      <table id="redis_table" class="table table-bordered">
        <thead>
          <tr>
            <td></td>
            <td>ID</td>
            <td>IP</td>
            <td>端口</td>
            <td>创建时间</td>
          </tr>
        </thead>
        <tbody>
        #foreach($redis in $rediss)
        <tr>
            <td><input  name="selected_ids[]" value="$!redis.id" type="checkbox" /><input name="ids[]" value="$!redis.id" type="hidden" /></td>
            <td>$!redis.id</td>
            <td><input name="$!redis.id:ip" value="$!redis.ip" type="text" /></td>
            <td><input name="$!redis.id:port" value="$!redis.port" type="text" /></td>
            <td>$DateUtil.formatForDate($!redis.createTime)</td>
        </tr>
        #end
          <tr>
            <td colspan="5">
              <button id="btn-new-redis" class="btn btn-success"><i class="icon-plus"></i> 添加页面</button>
            </td>
          </tr> 
        </tbody>
      </table>
      <p>
        <button id="btn-save-redis" class="btn btn-primary" name="action" value="save"><i class="icon-ok"></i> 保存字段列表</button>&nbsp;
        <button id="btn-delete-selected-redis" class="btn btn-danger" name="action" value="delete"><i class="icon-remove"></i> 删除选中的字段</button>
      </p>
    </redisset>
  </form>
</div>
<script language="javascript">
    $(document).ready(function() {
        $('#btn-new-redis').click(function(e){
            e.preventDefault();
            $('#redis_table tr:last').before('<tr><td></td><td></td><td><input name="new:ip[]" type="text" /></td><td><input name="new:port[]" type="text" /></td><td></td></tr>');
        });
    });
</script>
#parse("shared/footer.vm")