<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.mom.ms.dao.ActivemqMapper" >
   <!--  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
    <resultMap id="BaseResultMap" type="com.br.mom.ms.model.Activemq" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="server_list" property="serverList" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, server_list, username, password, create_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from activemq
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.br.mom.ms.model.Activemq" >
        select
        <include refid="Base_Column_List" />
        from activemq
        where 1=1
        <if test="id != null" >
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="serverList != null" >
            and server_list = #{serverList,jdbcType=VARCHAR}
        </if>
        <if test="username != null" >
            and username = #{username,jdbcType=VARCHAR}
        </if>
        <if test="password != null" >
            and password = #{password,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null" >
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
    </select>
    <select id="selectAllSelective" resultMap="BaseResultMap" parameterType="com.br.mom.ms.model.Activemq" >
        select
        <include refid="Base_Column_List" />
        from activemq
        where 1=1
        <if test="id != null" >
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="serverList != null" >
            and server_list = #{serverList,jdbcType=VARCHAR}
        </if>
        <if test="username != null" >
            and username = #{username,jdbcType=VARCHAR}
        </if>
        <if test="password != null" >
            and password = #{password,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null" >
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from activemq
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.br.mom.ms.model.Activemq" >
        insert into activemq (id, server_list, username, 
        password, create_time)
        values (#{id,jdbcType=INTEGER}, #{serverList,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
        #{password,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.br.mom.ms.model.Activemq" >
        insert into activemq
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="serverList != null" >
                server_list,
            </if>
            <if test="username != null" >
                username,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="serverList != null" >
                #{serverList,jdbcType=VARCHAR},
            </if>
            <if test="username != null" >
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.br.mom.ms.model.Activemq" >
        update activemq
        <set >
            <if test="serverList != null" >
                server_list = #{serverList,jdbcType=VARCHAR},
            </if>
            <if test="username != null" >
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.br.mom.ms.model.Activemq" >
        update activemq
        set server_list = #{serverList,jdbcType=VARCHAR},
        username = #{username,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>