<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.mom.ms.dao.ConsoleMapper" >
    <resultMap id="BaseResultMap" type="com.br.mom.ms.model.Console" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="queue_id" property="queueId" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.br.mom.ms.model.Console" extends="BaseResultMap" >
        <result column="content" property="content" jdbcType="LONGVARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, queue_id, create_time
    </sql>
    <sql id="Blob_Column_List" >
        content
    </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from console
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.br.mom.ms.model.Console" >
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from console
        where 1=1
        <if test="id != null" >
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="queueId != null" >
            and queue_id = #{queueId,jdbcType=INTEGER}
        </if>
        <if test="content != null" >
            and content = #{content,jdbcType=LONGVARCHAR}
        </if>
        <if test="createTime != null" >
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
    </select>
    <select id="selectAllSelective" resultMap="BaseResultMap" parameterType="com.br.mom.ms.model.Console" >
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from console
        where 1=1
        <if test="id != null" >
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="queueId != null" >
            and queue_id = #{queueId,jdbcType=INTEGER}
        </if>
        <if test="content != null" >
            and content = #{content,jdbcType=LONGVARCHAR}
        </if>
        <if test="createTime != null" >
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        order by create_time desc
        limit 500
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from console
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.br.mom.ms.model.Console" >
        insert into console (id, queue_id, create_time, 
        content)
        values (#{id,jdbcType=INTEGER}, #{queueId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
        #{content,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.br.mom.ms.model.Console" >
        insert into console
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="queueId != null" >
                queue_id,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="content != null" >
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="queueId != null" >
                #{queueId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null" >
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.br.mom.ms.model.Console" >
        update console
        <set >
            <if test="queueId != null" >
                queue_id = #{queueId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.br.mom.ms.model.Console" >
        update console
        set queue_id = #{queueId,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        content = #{content,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.br.mom.ms.model.Console" >
        update console
        set queue_id = #{queueId,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>