<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.mom.ms.dao.QueueMapper">
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
	<resultMap id="BaseResultMap" type="com.br.mom.ms.model.Queue">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="content_format" property="contentFormat"
			jdbcType="INTEGER" />
		<result column="mom_type" property="momType" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, name, content_format, mom_type, status, create_time
	</sql>

	<insert id="insert" parameterType="com.br.mom.ms.model.Queue"
		useGeneratedKeys="true" keyProperty="id">
		insert into queue (id, name,
		content_format, mom_type, status, create_time
		)
		values
		(
		#{id,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{contentFormat,jdbcType=INTEGER},
		#{momType,jdbcType=INTEGER},
		#{status,jdbcType=INTEGER},
		#{createTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<insert id="insertSelective" parameterType="com.br.mom.ms.model.Queue"
		useGeneratedKeys="true" keyProperty="id">
		insert into queue
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="contentFormat != null">
				content_format,
			</if>
			<if test="momType != null">
				mom_type,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="contentFormat != null">
				#{contentFormat,jdbcType=INTEGER},
			</if>
			<if test="momType != null">
				#{momType,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from queue
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<update id="logicalDelete" parameterType="com.br.mom.ms.model.Queue">
		update queue
		set
		name =
		#{name,jdbcType=VARCHAR},
		content_format =
		#{contentFormat,jdbcType=INTEGER},
		mom_type =
		#{momType,jdbcType=INTEGER},
		status = #{status,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		flag =
		#{flag,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.br.mom.ms.model.Queue">
		update queue
		set
		name = #{name,jdbcType=VARCHAR},
		content_format =
		#{contentFormat,jdbcType=INTEGER},
		mom_type =
		#{momType,jdbcType=INTEGER},
		status = #{status,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=TIMESTAMP}
		where id =
		#{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="com.br.mom.ms.model.Queue">
		update queue
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="contentFormat != null">
				content_format = #{contentFormat,jdbcType=INTEGER},
			</if>
			<if test="momType != null">
				mom_type = #{momType,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from queue
		where id = #{id,jdbcType=INTEGER}
		and flag = 0
	</select>

	<select id="selectSelective" resultMap="BaseResultMap"
		parameterType="com.br.mom.ms.model.Queue">
		select
		<include refid="Base_Column_List" />
		from queue
		where 1=1
		<if test="id != null">
			and id = #{id,jdbcType=INTEGER}
		</if>
		<if test="name != null">
			and name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="contentFormat != null">
			and content_format = #{contentFormat,jdbcType=INTEGER}
		</if>
		<if test="momType != null">
			and mom_type = #{momType,jdbcType=INTEGER}
		</if>
		<if test="status != null">
			and status = #{status,jdbcType=INTEGER}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		and flag = 0
	</select>

	<select id="selectAllSelective" resultMap="BaseResultMap"
		parameterType="com.br.mom.ms.model.Queue">
		select
		<include refid="Base_Column_List" />
		from queue
		where 1=1
		<if test="id != null">
			and id = #{id,jdbcType=INTEGER}
		</if>
		<if test="name != null">
			and name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="contentFormat != null">
			and content_format = #{contentFormat,jdbcType=INTEGER}
		</if>
		<if test="momType != null">
			and mom_type = #{momType,jdbcType=INTEGER}
		</if>
		<if test="status != null">
			and status = #{status,jdbcType=INTEGER}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		and flag = 0
	</select>

	<select id="selectByPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from queue
		where flag = 0
		order by id
		limit #{startIndex},#{pageSize}
	</select>

	<select id="selectTotalRecords" resultType="java.lang.Integer">
		select count(*)
		from
		queue
		where flag = 0
	</select>

</mapper>